@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  touch-action: manipulation;
}

.border-default-200{
    border-color: #f7dac670;

}

.text-primary{
    color: #f7dac6
}

.text-highlight{
    color: #f2a366
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(34, 2, 11);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 3, 16);
}

::-webkit-scrollbar-button{
  height: 3px;
  background-color: transparent;
}